body {
    font-family: verdana;
}
h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
h2 {
    font-weight: 300; 
    font-size: 42px;
}
h3 {
    font-size: 21px;
    color: gray;
}
p {
    font-size: 16px;
    color: Aquamarine;
}
footer {
    text-align: right; 
    color: gray;
}